<!--
  USER PROFILE
 
  This template displays a user's profile information and their posted content.
  It includes a navigation menu to go back to the home page and a list of posts
  with edit and delete options.
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User profile</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>USER PROFILE</h1>
		<nav>
			<h3><a href="/home">Go Back to HomePage</a></h3>
		</nav>
		<ul>
			<% posts.forEach(post => { %>
			<li>
				<div>
					<b><a href="/post/<%= post._id %>"><%= post.postTitle %></a></b>
					<p><%= post.postContent %></p>
					<img
						src="<%= post.imagePath %>"
						alt="uploaded image"
						style="max-width: 200px" />
				</div>

				<div class="buttons">
					<form action="/profile/post/<%= post._id %>/delete" method="post">
						<button type="submit">Delete Post?</button>
					</form>
					<form action="/profile/post/<%= post._id %>/edit" method="get">
						<button type="submit">Edit Post?</button>
					</form>
				</div>
			</li>
			<% }) %>
		</ul>
	</body>
</html>
